.fondo1{background-color: black;}
h1{color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
ul li{color: white
;}

.lista1 li::before {
    content: "✓ "; 
    color: yellow;
    font-size: 20px;
}
.fondo2{background-color: black;}
h2{color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
ul li{color: white;}

.lista2 li::before {
    content: "🠢"; 
    color: green;
    font-size: 20px;}