.clase_contenido1{background-color:purple;display: block;
display: block;}
.clase_contenido2{background-color: purple;display: block;}
.clase_contenido{background-color: black;}
.clase_contenido{background-color: black;}
.clase_contenedor1{background-color: lightblue;}
.clase_contenedor1:hover{opacity: 0.7;}
.clase_contenedor2{background-color: lightcoral;}
.clase_contenedor2:active {opacity: 0.7;}
