body {
    background-color: lightgreen;
    margin: 0;
    padding: 0;
}

fieldset {
    background-color: brown;
    width: 98%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    padding: 0px;
}



.fondouno {
    background-color: blue;
    width: 550px;
    margin: 0;
    padding: 10px;


}

.fondodos {
    background-color: aqua;
    width: 550px;
    margin: 0;
    padding: 10px;
    margin-top: 30px;
}

.item1, .item2, .item3, .item4 {
    display: block;
    background-color: khaki;
    color: darkslateblue;
    margin-bottom: 8px;
    border: none;
    padding: 4px;
}

h1 {
    color: white;
    margin-top: 0;
}

h2 {
    color: green;
    margin-top: 0;
}

table {
    border-collapse: collapse;
}

.truno { background-color: deeppink; color: blue; }
.trudos { background-color: cadetblue; color: darkslateblue; }
.trutres { background-color: chocolate; color: blue; }
