fieldset{color:orangered;}
.texto{color: chartreuse;}
fieldset{background-color: aqua;}
.clase_fecha{color: blueviolet;}
.clase_edad{color: darkgoldenrod;}
.clase_email{color: crimson;}
.class_usuario{color: magenta;}
.class_contraseña{color: yellow;}
.class_confirmar{color: brown;}
.clase_nombre{color: blueviolet;}
.clase_ciudad{color: darkgreen;}
.clase_codigopostal{color: darkred;}
.clase_boton{color: blue;}