.clase_contenido1{background-color:purple;display: block;
display: block;}
.clase_contenido2{background-color: purple;display: block;}
.clase_contenido{background-color: black;}
.clase_contenido{background-color: black;}
.clase_fieldset1{background-color: lightblue;}
.clase_fieldset2{background-color: lightcoral;}
#contenedor1{hover}