
.menu {
    background-color: #1e1e1e;
    padding: 15px;
    }
    
    
    .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
    }
    
    
    .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: #333;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    }
    
    
    .menu ul li a:hover {
    background-color: #ff9800;
    color: black;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    }
  
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    padding: 20px;
    background-color: #222;
    color: white;
}


.menu {
    background-color: #1e1e1e;
    padding: 15px;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 10px 18px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.menu ul li a:hover {
    background-color: orange;
    color: black;
    transform: scale(1.1);
}


.contenedor {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}


.contenido-principal {
    background-color: #f7f7f7;
    padding: 20px;
}


.sidebar {
    background-color: #ddd;
    padding: 20px;
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
}
